@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiri', serif;
}

body {
  width: 100%;
  background-color: #eefef3;
  position: relative;
  display: flex;
}

/* sideMenu */
#menu {
  background-color: #111027;
  width: 300px;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

}

#menu .logo img {
  width: 70px;
  margin-right: 30px;
}

#menu .logo {
  display: flex;
  align-items: center;
  padding: 30px 0 0 30px;
  color: #fff;
}

#menu .items {
  margin-top: 40px;
}

#menu .items li {
  list-style: none;
  padding: 15px 0px;
  transition: 0.3s ease;
}

#menu .items li i {
  color: #b1a296;
  width: 30px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin: 0 10px 0 25px;
}

#menu .items li a {
  text-decoration: none;
  color: #b1a296;
  font-weight: 300;
  transition: 0.3s ease;
}

#menu .items li:hover {
  background: #253047;
  cursor: pointer;
}

#menu .items li:nth-child(1) {
  border-left: 4px solid #fff;
}

#menu .items li:hover a,
#menu .items li:hover i {
  color: #f3f4f6;
}



/* Interface */
#interface {
    width: calc(100% - 300px);

    position: relative;
    margin-left: 300px;
    min-height: 100vh;

}

#interface .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #5d5c61;

    position: fixed;
    width: calc(100% - 300px);
}

#interface .navigation .search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 14px;
    border: 1px solid #d7dbe5;
    border-radius: 4px;
}

#interface .navigation .search input {
    border: none;
    outline: none;
    font-size: 14px;
}

#interface .navigation .search i {
    margin-right: 12px;
}

#interface .navigation .profile {
   display: flex;
   justify-content:flex-start ;
   align-items: center;
}

#interface .navigation .profile i{
    margin-right: 20px;
    font-style: 19px;
    font-weight: 400px;
}

#interface .navigation .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.i-name {
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-style: 24px;
    font-weight: 700;
    margin-top: 70px;
}


.values {
  padding: 30px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.values .val-box{
  background-color: #fff;
  width: 250px;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.values .val-box i {
  font-size: 25px;
  width:60px ;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  margin-right: 18px;
}

.values .val-box:nth-child(1) i {
  background-color: #7874ec;
}

.values .val-box:nth-child(2) i {
  background-color: #5c8fa0;
}

.values .val-box:nth-child(3) i {
  background-color: #e45d99;
}

.values .val-box:nth-child(4) i {
  background-color: #74daec;
}


.values .val-box h3 {
  font-style: 18px;
  font-weight: 600;
}

.values .val-box span{
  font-style: 15px;
  color: #828997;
}



/* Table */
table {
  width: 96.5%;
  margin: 30px 30px 0 30px;
  overflow: auto;
  background: #fff;
  border-radius: 8px;
}

.board img{
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;

}

.board h5{
  font-weight: 600;
  font-size: 14px;

}


.board p{
  font-weight: 400;
  font-size: 15px;
  color: #787d8d;
}

.board .people{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
}


table{
  border-collapse: collapse;

}

tr{
  border-bottom: 1px solid #eef0f3;
}

thead td{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #f0fafb;
  text-align: start;
  padding: 15px;


}


tbody tr td {
  padding: 10px 15px;
}

.active p{
  background: #d7fada;
  padding: 2px 10px;
  display: inline-block;
  border-radius: 40px;
  color: #2b2b2b;
}

.edit a{
  text-decoration: none;
  font-size: 14px;
  color: #554cd1;
  
}


.n1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#menu-btn {
  color: #2b2b2b;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

@media (max-width: 769px) {

  #menu {
    width: 270px;
    position: fixed;
    left: -270px;
    transition: 0.3s ease;
  }

  #interface {
    width: 100%;
    margin-left: 0;
    display: inline-block;
    transition: 0.3s ease;
  }

  #interface .navigation {
    width: 100%;
  }

  .values {
    padding: 30px 30px 0 30px;
    justify-content: flex-start;
  }

  .values .val-box {
    padding: 16px 20px;
    margin: 10px 20px 10px 0;
  }

  .board  {
    width: 92%;
    padding: 0;
    overflow-x: auto;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  #menu-btn {
    display: initial;
  }

  #menu.active {
    left: 0;
  }

  #menu.active ~ #interface {
    width: calc(100% - 270px);
    margin-left: 270px;
    transition: 0.3s ease;
  }


}

@media (max-width: 480px) {
  #interface .navigation {
    padding: 15px;
  }

  #interface .navigation .search input{
    width: 150px;
  }

  .i-name {
    padding: 30px 15px 0 15px;

  }

  .values {
    padding: 15px 15px 0 15px;
  }

  .values .val-box {
    width: 100%;
    margin:8px 0;
  }

  .board {
    margin: 30px 15px 30px 15px;
  }

  

}





















